body, html {
    height: 100%;
}

/* The Martial Arts Film House Logo */
.hero-image {
 
    /* The image used */
    background-image: url("images/Martial Arts Film Houe Logo.jpg");

    /* Set a specific height */
    height: 50%;
    min-width: inherit;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}