body, html {
    height: 100%;
    background-color: #e3f2fd;
    font-family: 'Source Sans Pro', sans-serif; 
  
}

/* The Martial Arts Film House Logo */
.img {
 
    /* The image used */
    background-image: url("images/Martial Arts Film House Logo No Name.jpg");
    background-size: 100%;
    
    /* Set a specific height */
    height: auto;
    max-width: 100%;

    /* Position and center the image to scale nicely on all screens */
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}
.button{
    alignment-baseline: middle;
}

/*.morphext > .animated {*/
/*    display: inline-block;*/


.h1{
  font-style: normal;
}

.carousel {
    min-height: 600px; 
    margin-bottom: 20px;
}