html,body {
    
    background-color: #e3f2fd;
    font-family: 'Playfair Display', serif; 
  }

/* The Martial Arts Film House Logo */

.header {
    display: inline;
    background-position: left;
    background-repeat: no-repeat;
}

.h1 {
  margin: 0;
  font-style: normal;
}

.carousel {
    min-height: 600px; 
    margin-bottom: 20px;
}